### Batches, Batch Normalization and Dropout

In this workbook you can experiment what you learnt about how to make batches out of your data, how to perform batch normalization and dropout

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Load the data from data/batches_norm_drop.csv, then take a look at them.

In [6]:
# YOUR CODE HERE
data_pth = "data/batches_norm_drop.csv"
df = pd.read_csv(data_pth, header=None)
df.head()

          0         1  2
0  0.350140  4.248592  0
1  0.950728  3.528855  0
2  1.371517  3.149416  0
3  0.268221  4.337209  0
4  1.881996  1.515387  0

In [7]:
df.index

RangeIndex(start=0, stop=750, step=1)

Now you are ready to code your own function to create batches. If needed rewatch the video we provided in Eduflow.

**Extra challange:**    Are you able to split between train and test _**without**_ using sklearn?

In [14]:
def split_data(data, test_size = 0.25):
#YOUR CODE HERE
    data = data.copy()
    i = list(data.index)
    np.random.shuffle(i)
    test_sample = i[:int(len(i)*test_size)]
    train_sample = i[int(len(i)*test_size):]
    test_set = data.iloc[test_sample]
    return data.iloc[train_sample], data.iloc[test_sample]

train_set, test_set = split_data(df)
train_set.shape, test_set.shape

((563, 3), (187, 3))

In [17]:
x_train, y_train = train_set.drop(2, axis=1), train_set[2]
x_test, y_test = test_set.drop(2, axis=1), test_set[2]

In [18]:
x_train

            0         1
460  1.628649 -0.009584
93   0.852198  3.589600
599 -0.111466  3.870966
269  3.549400  1.313555
446  2.248389  0.492899
..        ...       ...
632 -2.170161  2.053913
287  2.961963  0.052672
238  2.223701  4.636577
746 -1.513002  2.789840
697 -3.792876  4.302361

[563 rows x 2 columns]

In [19]:
x_train, y_train = train_set.drop(2, axis=1), train_set[2]
x_test, y_test = test_set.drop(2, axis=1), test_set[2]
def batchify(x, y, batch_size):
    x, y = x.values, y.values

    n_batches = x.shape[0] // batch_size
    idx = np.random.permutation(x.shape[0])
    x, y = x[idx], y[idx]
    x = x[: batch_size*n_batches].reshape(n_batches, batch_size, x.shape[1])
    y = y[: batch_size*n_batches].reshape(n_batches, batch_size, 1)

    return x, y




x_train_batches, y_train_batches = batchify(x_train, y_train, 16)
x_test_batches, y_test_batches = batchify(x_test, y_test, 16)

In [21]:
x_test_batches.shape

(11, 16, 2)

It's time to create your model! Remember to include the new tricks you learnt (batch normalization and dropout)!

In [ ]:
# YOUR CODE HERE

Train your model and evaluate it. **Extra challenge**: try to figure out how you can tell if batch norm and dropout are effective

In [ ]:
# YOUR CODE HERE