In [ ]:
def top(a,k):

In [17]:

count = 0
def top(a,k):
    num = a[0]
    for i in a:
        frequency = a.count(i)
        if frequency > count:
            count = frequency
            num = i
    return num        


top([1,2,3,4,6,8,1,7,9,1])

3
1
1
1
1
1
3
1
1
3

In [6]:
def duplicate(list):
    list1 = []
    for i in list:
        if i not in list1:
            list1.append(i)
    return list1    

list = [1,12,3,4,5,7,2,3,5,4,8,9]
print(duplicate(list))

[1, 12, 3, 4, 5, 7, 2, 8, 9]

In [5]:
import pandas as pd
df= pd.read_csv('data_action.csv')
df[if 'Robert Pattinson' in df['Stars']]

SyntaxError: invalid syntax (Temp/ipykernel_15648/2316248147.py, line 3)

In [4]:
df[df['Rating'] == 8.4]

,Title,Description,Release,Director,Rating,Duration,Votes,Genre,Stars
0,The Batman,"When the Riddler, a sadistic serial killer, be...",2022,Matt Reeves,8.4,176.0,261605.0,"Action, Crime, Drama","Robert Pattinson, Zoë Kravitz, Jeffrey Wright,..."
28,Il cavaliere oscuro - Il ritorno,Eight years after the Joker's reign of anarchy...,2012,Christopher Nolan,8.4,164.0,1634.0,"Action, Crime, Drama","Christian Bale, Tom Hardy, Anne Hathaway, Gary..."
61,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Anthony Russo,8.4,181.0,1028.0,"Action, Adventure, Drama","Robert Downey Jr., Chris Evans, Mark Ruffalo, ..."
92,Star Wars: The Clone Wars,Jedi Knights lead the Grand Army of the Republ...,2008,Tom Kane,8.4,23.0,83220.0,"Animation, Action, Adventure","Tom Kane, Dee Bradley Baker, Matt Lanter, Jame..."

In [3]:
df.head(2)

,Title,Description,Release,Director,Rating,Duration,Votes,Genre,Stars
0,The Batman,"When the Riddler, a sadistic serial killer, be...",2022,Matt Reeves,8.4,176.0,261605.0,"Action, Crime, Drama","Robert Pattinson, Zoë Kravitz, Jeffrey Wright,..."
1,The Adam Project,"""After accidentally crash-landing in 2022, tim...",2022,Shawn Levy,6.8,106.0,81268.0,"Action, Adventure, Comedy","Ryan Reynolds, Walker Scobell, Mark Ruffalo, J..."