In [1]:
zoo_data = "https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data"

In [2]:
import pandas as pd
pd.read_csv(zoo_data, header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [3]:
columns =["animal name",
"hair",
"feathers",
"eggs",
"milk",
"airborne",
"aquatic","predator"
,"toothed","backbone","breathes","venomous","fins","legs","tail","domestic","catsize","type"]

In [4]:
df = pd.read_csv(zoo_data, names=columns)

In [5]:
df["animal name"].unique()

array(['aardvark', 'antelope', 'bass', 'bear', 'boar', 'buffalo', 'calf',
       'carp', 'catfish', 'cavy', 'cheetah', 'chicken', 'chub', 'clam',
       'crab', 'crayfish', 'crow', 'deer', 'dogfish', 'dolphin', 'dove',
       'duck', 'elephant', 'flamingo', 'flea', 'frog', 'fruitbat',
       'giraffe', 'girl', 'gnat', 'goat', 'gorilla', 'gull', 'haddock',
       'hamster', 'hare', 'hawk', 'herring', 'honeybee', 'housefly',
       'kiwi', 'ladybird', 'lark', 'leopard', 'lion', 'lobster', 'lynx',
       'mink', 'mole', 'mongoose', 'moth', 'newt', 'octopus', 'opossum',
       'oryx', 'ostrich', 'parakeet', 'penguin', 'pheasant', 'pike',
       'piranha', 'pitviper', 'platypus', 'polecat', 'pony', 'porpoise',
       'puma', 'pussycat', 'raccoon', 'reindeer', 'rhea', 'scorpion',
       'seahorse', 'seal', 'sealion', 'seasnake', 'seawasp', 'skimmer',
       'skua', 'slowworm', 'slug', 'sole', 'sparrow', 'squirrel',
       'starfish', 'stingray', 'swan', 'termite', 'toad', 'tortoise',
       'tuatara', 'tuna', 'vampire', 'vole', 'vulture', 'wallaby', 'wasp',
       'wolf', 'worm', 'wren'], dtype=object)

In [6]:
df = df.drop(["animal name"], axis=1)

In [7]:
X, y = df.iloc[:, :-1], df.iloc[:, -1]

In [8]:
y.unique()

array([1, 4, 2, 7, 6, 5, 3], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestClassifier
rndm = RandomForestClassifier()

In [12]:
rndm.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
predictions = rndm.predict(X_test)

In [14]:
(predictions == y_test).sum()/len(y_test)

0.9354838709677419

In [16]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, predictions)
score

0.9354838709677419

## we will check the result after scaling data

In [98]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [99]:
X_test_scaled = scaler.fit_transform(X_test, y_test)

In [102]:
predict = rndm.predict(X_test_scaled)

In [103]:
sco = accuracy_score(predict, y_test)
sco

0.9354838709677419

## we will apply GridSearchcv model

In [ ]:
RandomForestClassifier()

In [75]:
from sklearn.model_selection import GridSearchCV

parameters = [{'n_estimators':[3,5,7,9,13], 'criterion':['gini','entropy'], 'max_depth':[5,7,9,11,14], 'max_features':['auto','sqrt','log2']}]
grd_search = GridSearchCV(estimator=rndm, param_grid= parameters, cv=2, scoring='accuracy')

In [76]:
grd_train = grd_search.fit(X_train,y_train)

In [77]:
grd_search.best_params_

{'criterion': 'gini',
 'max_depth': 5,
 'max_features': 'sqrt',
 'n_estimators': 13}

In [78]:
grd_search.best_score_

0.9857142857142858

In [89]:
from sklearn.ensemble import RandomForestClassifier
rndm = RandomForestClassifier(n_estimators=13, max_depth=5, max_features='sqrt', criterion='gini')

In [90]:
rndm.fit(X_test, y_test)

RandomForestClassifier(max_depth=5, max_features='sqrt', n_estimators=13)

In [91]:
predictions = rndm.predict(X_test)

In [92]:
acc = accuracy_score(predictions, y_test)
acc

1.0