In [1]:
import pandas as pd

## Series

In [2]:
pd.Series([4, 6, -5, 3])

0    4
1    6
2   -5
3    3
dtype: int64

In [3]:
pd.Series([4, 6, -5, 3], index=['x1', 'x2', 'y1', 'y2'])

x1    4
x2    6
y1   -5
y2    3
dtype: int64

In [4]:
df = pd.Series([4, 6, -5, 3], index=['x1', 'x2', 'y1', 'y2'])
print(df['x1'])
df[['x1', 'y1']]

4

x1    4
y1   -5
dtype: int64

In [5]:
df / df.sum()

x1    0.500
x2    0.750
y1   -0.625
y2    0.375
dtype: float64

In [6]:
missing_data = pd.Series([4, 6, -5, None], index=['x1', 'x2', 'y1', 'y2'])

pd.isnull(missing_data)

x1    False
x2    False
y1    False
y2     True
dtype: bool

## DataFrame

In [7]:
data = {
    'name': ['Maria', 'Carla', 'Juan', 'Ana', 'Sergio'],
    'age': [15, 33, 12, 21, 45],
    'gender': [True, True, False, True, False]
}

pd.DataFrame(data)

     name  age  gender
0   Maria   15    True
1   Carla   33    True
2    Juan   12   False
3     Ana   21    True
4  Sergio   45   False

## Read from csv

In [8]:
pd.read_csv('data/iris.data', header=None).head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/iris.data'

## Index

In [9]:
df = pd.DataFrame(data)
df.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
df = pd.DataFrame(data)
df.index = ['m','c','j','a','s']
df

     name  age  gender
m   Maria   15    True
c   Carla   33    True
j    Juan   12   False
a     Ana   21    True
s  Sergio   45   False

## Indexing

In [11]:
a = pd.DataFrame(data, index=['m','c','j','a','s'])

a.loc['m'] == a.iloc[0]

name      True
age       True
gender    True
Name: m, dtype: bool

In [12]:
a.loc['m':'c']

    name  age  gender
m  Maria   15    True
c  Carla   33    True

## Dropping

In [13]:
df.drop('name', axis=1)

   age  gender
m   15    True
c   33    True
j   12   False
a   21    True
s   45   False

In [14]:
a.drop(['m', 'c'])

     name  age  gender
j    Juan   12   False
a     Ana   21    True
s  Sergio   45   False

## Duplicates

In [15]:
df = pd.DataFrame({'f1': [1, 2, 2, 1], 'f2': [0, 1, 1, 1]})
print(df)
df.drop_duplicates()

   f1  f2
0   1   0
1   2   1
2   2   1
3   1   1

   f1  f2
0   1   0
1   2   1
3   1   1

## Filtering

In [16]:
df = pd.DataFrame(data, index=['m','c','j','a','s'])
df[df.gender == False]

     name  age  gender
j    Juan   12   False
s  Sergio   45   False

## Custom element-wise operations

In [20]:
df['gender'] = df['gender'].apply(lambda x: not x)
df

     name  age  gender
m   Maria   15    True
c   Carla   33    True
j    Juan   12   False
a     Ana   21    True
s  Sergio   45   False

## Sorting

In [31]:
df.sort_values(by=['age'])

     name  age  gender
j    Juan   12   False
m   Maria   15    True
a     Ana   21    True
c   Carla   33    True
s  Sergio   45   False

## Statistics

In [32]:
df.describe()

             age
count   5.000000
mean   25.200000
std    13.682105
min    12.000000
25%    15.000000
50%    21.000000
75%    33.000000
max    45.000000

## Counts

In [33]:
df['gender'].value_counts()

gender
True     3
False    2
Name: count, dtype: int64